
body {
    background-color: #d0c9cf;
}

.count {
    margin: 40px 0;
}

.countd {
    display: inline-block;
    width: 80px;
    height: 80px;
    border: 2px solid;
    margin: 0 30px;
    font-size: 12px;
    border-radius: 50%;
    overflow: hidden;
    text-align: center;
}

.countd span{
    display: block;
    font-size: 26px;
    margin-top: 14px;
}

.button {
    cursor: pointer;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    font-size: 17px;
    line-height: 1.17648;
    font-weight: 400;
    letter-spacing: -.022em;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    min-width: 28px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 980px;
    background: #0071e3;
    color: #fff;
}

.back {
    text-decoration: none;
    color: white;
    position: relative;
    left: 70px;
    width: 150px;
}

a:link, a:visited {
    background-color: #d0c9cf;
    color: black;
    border: 2px solid black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
  
a:hover, a:active {
    background-color: rgb(143, 145, 145);
    color: black;
}